@media (min-width: 576px) {
.zoom {      
    -webkit-transition: all 0.2s ease-in-out;    
    -moz-transition: all 0.2s ease-in-out;    
    transition: all 0.2s ease-in-out;     
    cursor: -webkit-zoom-in;      
    cursor: -moz-zoom-in;      
    cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
    -ms-transform: scale(5);    
    -moz-transform: scale(5);  
    -webkit-transform: scale(5);  
    -o-transform: scale(5);  
    transform: scale(5);    
    position:relative;      
    z-index:100;  
}
}